.footer {
    padding: 70px 0px 90px 0px;


    &__title {
        font-size: 25px;
    }

    &__text {
        font-size: 17px;
        width: 703px;
    }

    &__email {
        font-size: 15px;
    }

    &__socials {
        margin-top: 20px;
        display: flex;
        gap: 10px;

        & img {
            width: 20px;
        }
    }
}

@media (max-width: 777px) {
    .footer__text {
        width: auto;
    }
}